<h2>Contacts:</h2>


<% @contacts.each do |contact| %>
<a href="/contact_info/<%= contact.id %>">
<ul>
  <li><%= contact.first_name %></li>     
  <li><%= contact.last_name %></li>
  <li><%= contact.email %></li>
  <li><%= contact.phone_number %></li>
  </ul>
</a>
<% end %>

<a href='/contact_info/new'>Add A New Contact</a>