<h1>Add Contacts</h1>

<%= form_tag '/contact_info/create', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name%>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name%>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone_number %>
  </div>
  <div>
    <%= submit_tag 'Send' %>
  </div>
<% end %>